<section data-ng-controller="ActivitiesController"  data-ng-init="initCreate()">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>New Activities</h5>
                    </div>

                    <div class="ibox-content">
                        <form role="form" class="form-horizontal" ng-submit="create(activityForm.$valid)" name="activityForm" >

                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label" >Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control " id="name" placeholder="Name" ng-model="name" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="date"  class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-10">
                                    <p class="input-group">
                                        <input type="text" class="form-control" id="date" uib-datepicker-popup="yyyy/MM/dd" ng-model="date" is-open="datePopup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats"  required=""/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" >Fellowship</label>
                                <div class="col-sm-10">
                                    <div class="">
                                        <ui-select ng-model="activity.fellowship">
                                            <ui-select-match placeholder="">  {{activity.fellowship.name}} </ui-select-match>
                                            <ui-select-choices repeat="fellowship in activity.fellowships | filter:$select.search">
                                                <span ng-bind-html="fellowship.name| highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>


                            <div class="form-group">
                                <div ng-show="error" class="text-danger">
                                    <strong ng-bind="error"></strong>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
