
<section data-ng-controller="FellowshipsController" data-ng-init="findOne()">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Edit Followships</h5>
                    </div>

                    <div class="ibox-content">
                        <form role="form" class="form-horizontal" ng-submit="update(followshipForm.$valid)" name="followshipForm" >

                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label" >Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control " id="name" placeholder="Name" ng-model="fellowship.name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="target" class="col-sm-2 control-label" >Target</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control " id="target" placeholder="Target" ng-model="fellowship.target" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" >Participators</label>
                                <div class="col-sm-4">

                                    <div class="">
                                        <ui-select ng-model="fellowship.participator.selected"
                                                   reset-search-input="false">
                                            <ui-select-match placeholder="Search a member...">{{$select.selected.firstName}} {{$select.selected.lastName}} </ui-select-match>
                                            <ui-select-choices repeat="participator in fellowship.nonParticipators | filter: $select.search">
                                                <span ng-bind-html="participator.firstName | highlight: $select.search"></span>
                                                <span  ng-bind-html="participator.lastName| highlight: $select.search"></span>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-outline" ng-click="addParticipator()" type="button">Add</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="table-responsive">

                                        <table ng-Table="participatorsTableParams"  class="table table-striped table-vmiddle" show-filter="false">
                                            <tr ng-repeat="member in $data" >
                                                <td title="'Member ID'" filter="{ 'memberID': 'text' }">
                                                    {{ member.memberID}}
                                                </td>
                                                <td title="'first Name'" filter="{ 'firstName': 'text' }">
                                                    {{ member.firstName }}
                                                </td>
                                                <td title="'last Name'" filter="{ 'lastName': 'text' }">
                                                    {{ member.lastName}}
                                                </td>
                                                <td title="'nick Name'" filter="{ 'nickName': 'text' }">
                                                    {{ member.lastName}}
                                                </td>

                                                <td title="'email'" filter="{ 'address': 'text' }">
                                                    {{ member.email}}
                                                </td>

                                                <td data-title="">
                                                    <button type="button" class="btn btn-default" ng-click="deleteParticipator(member)" >
                                                        <!--<span class="fa-times" aria-hidden="true"></span>-->
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>


                            <div class="form-group">
                                <div ng-show="error" class="text-danger">
                                    <strong ng-bind="error"></strong>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
