<section data-ng-controller="FellowshipsController" data-ng-init="find()">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Fellowship List</h5>

                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content table-responsive">

                        <table ng-Table="fellowshipTableParams"  class="table table-striped table-vmiddle" show-filter="true">
                            <tr ng-repeat="fellowship in $data" >

                                <td data-title="">
                                    <button type="button" class="btn btn-default" ng-click="editFellowshipPressed(fellowship._id)" >
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>

                                <td title="'Name'" filter="{ 'name': 'text' }">
                                    {{ fellowship.name}}
                                </td>

                                <td title="'Target'" filter="{ 'target': 'text' }">
                                    {{ fellowship.target}}
                                </td>

                                <td title="'Count'" filter="{ 'count': 'text' }">
                                    {{ fellowship.participators.length}}
                                </td>

                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>




</section>
