<section data-ng-controller="FellowshipsController" data-ng-init="findOne()">

	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Fellowship update successfully.</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<p>Press <a ng-click="editFellowshipPressed(fellowship._id)">here</a> to view the updated fellowship.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
