<section ng-controller="MembersController" data-ng-init="findOne()">


  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">

        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Edit Memeber</h5>
          </div>

          <div class="ibox-content">
            <form role="form" class="form-horizontal" ng-submit="update(memberForm.$valid)" name="memberForm" >


              <div class="form-group">
                <label for="memberID" class="col-sm-2 control-label" >Member ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="memberID" placeholder="Member ID" ng-model="member.memberID" required>
                </div>
              </div>

              <div class="form-group">
                <label for="memberCardID"  class="col-sm-2 control-label">Member Card ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="memberCardID" placeholder="Member Card ID" ng-model="member.memberCardID" required>
                </div>

              </div>


              <div class="form-group">
                <label for="firstName"  class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="firstName" placeholder="First Name" ng-model="member.firstName" required>
                </div>

              </div>

              <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="lastName" placeholder="Last Name" ng-model="member.lastName" required>
                </div>
              </div>

              <div class="form-group">
                <label for="nickName"  class="col-sm-2 control-label">Nick Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="nickName" placeholder="Nick Name" ng-model="member.nickName">
                </div>
              </div>
              <div class="form-group">
                <label for="gender"  class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                  <div class="select">
                    <select class="form-control" id="gender" name="gender" ng-model="member.gender" ng-options="gender.id as gender.title for  gender in genders" required>
                    </select>

                    <div class="has-error">
                      <small ng-show="memberForm.gender.$error.required" class="help-block">Please input the gender.</small>
                    </div>
                  </div>

                </div>
              </div>


              <div class="form-group">
                <label for="hkid"  class="col-sm-2 control-label">HK ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="hkid" placeholder="HK ID" ng-model="member.hkid">
                </div>
              </div>

              <div class="form-group">
                <label for="birth" class="col-sm-2 control-label">Birth</label>
                <div class="col-sm-10">
                  <p class="input-group">
                    <input type="text" class="form-control" id="birth" uib-datepicker-popup="yyyy/MM/dd" ng-model="member.birth" is-open="birthPopup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="birthPopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="phone"  class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="phone" placeholder="Phone" ng-model="member.phone">
                </div>
              </div>


              <div class="form-group">
                <label for="email"  class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="email" placeholder="Email" ng-model="member.email">
                </div>
              </div>


              <div class="form-group">
                <label for="address"  class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="member.address">
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-2 control-label" >Fellowships</label>
                <div class="col-sm-10">

                  <div class="">
                    <ui-select multiple ng-model="member.fellowships" ng-disabled="true">
                      <ui-select-match placeholder="">  {{$item.name}} </ui-select-match>
                      <ui-select-choices repeat="fellowship in member.fellowships | filter:$select.search">
                        <span ng-bind-html="fellowship.name| highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>

              </div>

              <div class="form-group">
                <label for="baptismDate"  class="col-sm-2 control-label">Baptism Date</label>
                <div class="col-sm-10">
                  <p class="input-group">
                    <input type="text" class="form-control" id="baptismDate" uib-datepicker-popup="yyyy/MM/dd" ng-model="member.baptismDate" is-open="baptismDatePopup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="baptismDatePopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">是否已受浸</label>
                <div class="col-sm-10">
                  <div><label> <input type="checkbox" value="" ng-model="member.isBaptism"></label></div>
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-2 control-label">願意被探訪</label>
                <div class="col-sm-10">
                  <div><label> <input type="checkbox" value="" ng-model="member.canVisit"></label></div>
                </div>
              </div>


              <div class="form-group">
                <label for="status" class="col-sm-2 control-label" >Status</label>
                <div class="col-sm-10">
                  <div class="select">
                    <select class="form-control" id="status" name="status" ng-model="member.status" ng-options="memberStatus.id as memberStatus.title for  memberStatus in memberStatuses" required>
                    </select>
                  </div>

                  <div class="has-error">
                    <small ng-show="memberForm.status.$error.required" class="help-block">Please input the status.</small>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="remark"  class="col-sm-2 control-label">Remark</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control input-sm" id="remark" placeholder="Remark" ng-model="member.remark">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </div>

              <div class="form-group">
                <div ng-show="error" class="text-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
