<section data-ng-controller="MembersController">

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-7">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Import Members Input <small>(Please make sure the excel file (.xlsx) following the standard format!)</small>
            </h5>
            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <div class="row">

            <form name="uploadForm" class="form" data-ng-submit="uploadFile()">

              <div class="form-group fg-line fileinput fileinput-new" data-provides="fileinput" data-ng-model="file" required>
                        <span class="btn btn-primary btn-file">
                            <!--<span class="fileinput-new">Select file</span>-->
                            <!--<span class="fileinput-exists">Change</span>-->
                            <input type="file" name="..." onchange="angular.element(this).scope().addFile(this)" required>
                        </span>
                <span class="fileinput-filename"></span>
              </div>

              <div>
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" data-ng-if="files" type="submit"><strong>Import</strong></button>
              </div>

              <div class="form-group">
                <div ng-show="error" class="text-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </div>

            </form>

            </div>

            <div class="row">
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-5">

      </div>

    </div>


  </div>


</section>
