<section data-ng-controller="MembersController" data-ng-init="find()">

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Member List</h5>

            <div ibox-tools></div>
          </div>
          <div class="ibox-content table-responsive">

            <table ng-Table="memberTableParams"  class="table table-striped table-vmiddle" show-filter="true">
              <tr ng-repeat="member in $data" >

                <td data-title="">
                  <button type="button" class="btn btn-default" ng-click="editMemberPressed(member._id)" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  </button>
                </td>

                <td title="'Member ID'" filter="{ 'memberID': 'text' }">
                  {{ member.memberID}}
                </td>

                <td title="'Member Card ID'" filter="{ 'memberCardID': 'text' }">
                  {{ member.memberCardID}}
                </td>
                <td title="'first Name'" filter="{ 'firstName': 'text' }">
                  {{ member.firstName }}
                </td>
                <td title="'last Name'" filter="{ 'lastName': 'text' }">
                  {{ member.lastName}}
                </td>
                <td title="'nick Name'" filter="{ 'nickName': 'text' }">
                  {{ member.lastName}}
                </td>
                <td title="'Gender'" filter="{ 'gender': 'select'  }" filter-data="genders">

              <span ng-repeat="gender in genders">
                <span ng-if="member.gender == gender.id">
                  {{gender.title}}
                </span>
              </span>

                </td>

                <td title="'birth'" filter="{ 'birth': 'text' }">
                  {{ member.birth | date:'yyyy/MM/dd'}}
                </td>

                <td title="'phone'" filter="{ 'address': 'text' }">
                  {{ member.phone}}
                </td>

                <td title="'email'" filter="{ 'address': 'text' }">
                  {{ member.email}}
                </td>
                <td title="'address'" filter="{ 'address': 'text' }">
                  {{ member.address}}
                </td>
                <td title="'baptism Date'" filter="{ 'baptismDate': 'text' }">
                  {{ member.baptismDate | date:'yyyy/MM/dd'}}
                </td>
                <td title="'is Baptism?'" filter="{ 'isBaptism': 'text' }">
                  {{ member.isBaptism }}
                </td>
                <td title="'can Visit?'" filter="{ 'canVisit': 'text' }">
                  {{ member.canVisit }}
                </td>
                <td title="'status'" filter="{ 'status': 'select' }" filter-data="memberStatuses">

              <span ng-repeat="memberStatus in memberStatuses">
                <span ng-if="member.status == memberStatus.id">
                  {{memberStatus.title}}
                </span>
              </span>

                </td>
                <td title="'remark'" filter="{ 'remark': 'text' }">
                  {{ member.remark}}
                </td>

              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>




</section>
