<section data-ng-controller="MembersController" data-ng-init="findOne()">


  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Member list update successfully.</h5>
            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <p>Press <a ng-click="editPressed(member._id)">here</a> to view the updated member.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
